.App {
  text-align: center;
}

/* text types */
@font-face {
  font-family: "Pixel Font";
  src: url(../public/Retro\ Gaming.ttf) format("truetype");
}

/* change to body when time */
* {
  font-family: 'Pixel Font';
  background-color: #89AFC3;
  color: white;
}

div {
  background-color: #89AFC3;
}

.title {
  font-size: 2em;
  padding: 1em 0em 1em 1em;
}

.caption {
  font-size: 1.5em;
  margin: 2em;
  text-align: left;
  /* padding: 1em 0em 1em 1em; */
  color: #5F94B1;
  background-color: white;
}

.time {
  font-size: 5em;
  text-align: center;
  padding: 1em 0em 1em 0em;
  color: #89AFC3;
  background-color: white;
}

p {
  background-color: white;
  color: #5F94B1;
  font-size: 4em;
  margin: 0em;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* containers */
.center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-div {
  background-color: white;
  color: #5F94B1;
}

.end-contents {
  display: flex;
  align-items: end;
  justify-content: center;
}

.load-workout-container {
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 30em;
  width: 35em;
  background-color: white;
  color: black;
}

.content {
  margin-left: 3em;
  height: 40em;
  width: 40em;
  background-color: white;
  color: #5F94B1;
}

.thin-rect-button {
  height: 2em;
  width: 8em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  cursor: pointer;
  border: #89AFC3;
}

.border-rect-button {
  height: 2.2em;
  width: 6em;
  background-color: white;
  color: #5F94B1;
  border: #89AFC3 0.1em solid;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  line-height: 1.4em;
  cursor: pointer;
}

.thick-rect-button {
  height: 4em;
  width: 12em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  line-height: 1.4em;
  cursor: pointer;
}

.load-workout-button {
  height: 4em;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4em;
  cursor: pointer;
}

.button-grow {
  transition: all 0.3s ease-in-out;
}

.button-grow:hover {
  transform: scale(1.1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}